@model MvcBanHang.Models.sanpham

@{
    ViewBag.Title = "Delete";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<h2>Delete</h2>

<h3>Bạn chắc chắn muốn xóa sản phẩm này không?</h3>
<fieldset>
    <legend>Sản Phẩm</legend>
            
    <div class="display-label">
         Tên sản phẩm:
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.tensp)
    </div>

    <div class="display-label">
         Hình Sản Phẩm:
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.hinhsp)
    </div>

    <div class="display-label">
         Mô Tả:
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.mota)
    </div>

    <div class="display-label">
         Kích Cỡ:
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.kichco)
    </div>

    <div class="display-label">
         Đơn Vị Tính:
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.donvitinh)
    </div>

    <div class="display-label">
        Đơn giá:
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.dongia)
    </div>

    <div class="display-label">
        Danh Mục:
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.loai.tenloai)
    </div>

    <div class="display-label">
        Công Nghệ:
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.congnghe.loaicn)
    </div>

    <div class="display-label">
         Dung Lượng:
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.dungluong.loaidl)
    </div>

    <div class="display-label">
         Nhà cung cấp:
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.nhacungcap.tenncc)
    </div>

    <div class="display-label">
         Hãng Sản Xuất:
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.hangsanxuat.tenhsx)
    </div>

    <div class="display-label">
        Ngày Cập Nhật:
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.ngaycapnhat)
    </div>

    <div class="display-label">
        Số Lượng:
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.soluong)
    </div>

    <div class="display-label">
         Số Lần Xem:
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.solanxem)
    </div>
</fieldset>
@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    <p>
        <input type="submit" value="Delete" /> |
        @Html.ActionLink("Trở về", "Index")
    </p>
}
