@model MvcBanHang.Models.hangsanxuat

@{
    ViewBag.Title = "Create";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<h2>Create</h2>

@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>HÃNG SẢN XUẤT</legend>

        
        <div class="editor-label">
            Tên Hãng Sản Xuất
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.tenhsx)
            @Html.ValidationMessageFor(model => model.tenhsx)
        </div>

        <p>
            <input type="submit" value="Create" />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("Trở về", "Index")
</div>
